aiohttp
bottle
bravado-core>=4.11.0
bravado[integration-tests,fido]>=11.0.1
coverage
ephemeral_port_reserve
mock<4
mypy
pytest<5.1  # fix Python 3.5 coverage reporting issue
tox
tox-pip-extensions
u-msgpack-python
wheel
